.task-app__item {
  display: flex;
  align-items: center;
  width: 100%;
  width: clamp(260px, 90vw, 480px);
  gap: 2rem;
}

.task-app__checkbox {
}

.task-app__label {
  width: 100%;
}

.task-app__label-info {
}
.task-app__info {
}

.task-app__task-name {
}

.task-app__task-description {
  margin: 0;
  max-height: 2rem;
  overflow-y: auto;
}
