.body {
  background: var(--background);
  color: var(--text);
  display: flex;
  align-items: center;
  height: 100vh;
  min-width: 320px;
  flex-direction: column;
}
button {
  background-color: var(--btn);
  border: 1px solid var(--border);
  padding: 1rem;
  border-radius: 0.4rem;
  font-weight: 800;
  transition: hover 0.4s ease;
}
button:hover {
  background-color: var(--hover-btn);
}

:root {
  --background: #f0f2f5;
  --text: #333333;
  --btn: #1976d2;
  --hover-btn: #115293;
  --border: #e0e0e0;
}
