* {
  -webkit-tap-highlight-color: transparent;
}

.todo-list__element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000050;
  padding: 2rem;
  gap: 1rem;
  width: clamp(233px, 70vw, 326px);
  border-radius: 2rem;
  border: 1px solid #63e6bf96;
  /* box-shadow: 0px 1px 5px #fcfcfc96; */
  box-shadow: 0 9px 1px rgba(177, 177, 177, 0.89);
  flex-wrap: wrap;
}

.todo-list__check-task {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
  min-width: 178.562px;
}
.todo-list__check {
  /* padding: 2rem; */
  cursor: pointer;
  width: 2rem;
  height: 2rem;

  /* appearance: none; */
  background-color: blue;
  border-radius: 100%;
}
[type="checkbox"] {
  display: none;
}
[type="checkbox"] + label {
  padding-left: 3.4rem;
  /* padding-right: 3.4rem; */

  cursor: pointer;
  /* padding-right: 5rem; */
}

label {
  /* text-decoration: line-through;
  text-decoration-color: red;  */
  scrollbar-width: thin;
  scrollbar-color: #63e6be transparent;
  padding: 2rem;
  position: relative;
}

label::before {
  content: "";
  border-radius: 100%;
  border: solid 2px #63e6be;
  /* border-color: ; */

  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 0;
  top: 6px;
  /* z-index: 1; */
  transition: all 0.1s ease;
  /* margin-left: 1rem; */
  /* background-color: red; */
}

[type="checkbox"]:checked + label::before {
  border-color: #63e6be;
  background-color: #63e6be;
  color: greenyellow;

  background-image: url(assets/check-solid.svg);
  background-repeat: no-repeat;
  opacity: 1;
  /* transform: scale(1.09); */
  background-size: cover;
  /* animation: appear-scale-element 0.5s ease; */
}

.todo-list__task {
  margin: 0;
  color: white;
  font-weight: 600;
  padding: 0.4rem;
  /* display: flex; */
  /* z-index: 2; */
  text-align: left;
  /* text-wrap: wrap; */
  max-width: 192.688px;
  min-height: 32px;
  overflow: auto;
  max-height: 42px;
  /* text-decoration: line-through;
  text-decoration-thickness: 1px; */
  /* padding-bottom: 2rem; */
  /* text-wrap: wrap; */
}
.todo-list__task {
  color: white;
  cursor: pointer;
}

.todo-list__options {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}
.todo-list__button {
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
  transition: transform 0.5s ease;
}

.todo-list__button:hover {
  transform: scale(1.1);
}

.todo-list__button--edit {
  /* border-radius: 2rem; */
}

.todo-list__icon--edit {
}

.todo-list__button--delete {
  /* border-radius: 2rem; */
}

.todo-list__icon--delete {
}


@media (max-width: 430px) {
  .todo-list__element {
    flex-direction: row;
    /* flex-direction: row; */
    justify-content:center;
    gap: 0;
    /* align-items: center; */
  }

  .todo-list__check-task {
    min-width: 100px;
  }
}